<% provide :title, 'Testing...' %>

<div class="clock">
  <span id="hour">00</span>
  <span>:</span>
  <span id="minute">00</span>
  <span>:</span>
  <span id="second">00</span>
</div>

<div class="row">
  <%= form_for @exam do |f| %>
    <%= f.hidden_field :done, value: 1 %>
    <%= f.hidden_field :finished, value: Time.now %>

    <%= f.fields_for :results do |builder| %>
    
      <%= builder.object.question_content %>
      <% question = builder.object.question %> 

      <% if question.options.any? && question.is_multiple_choices? %>
        <p> Choose at least one answer </p>
        <ul class="answer-list">
          <%= builder.collection_check_boxes(:option_ids, question.options, :id, :content) %>
        </ul>
      <% elsif question.options.any? && question.is_single_choice? %>
        <p> Choose only one answer </p>
        <ul class="answer-list">
          <%= builder.collection_check_boxes(:option_ids, question.options, :id, :content) %>
        </ul>        
      <% else %>
        <%= builder.label 'your answer here' %>
        <%= builder.text_area :answer_content, class: 'form-control' %>
      <% end %>
    <% end %>

    <%= f.submit "Submit", class: "btn btn-primary submit-exam" %>
  <% end %>
</div>