<% provide(:title, 'Start exam') %>

<div class="clear"></div>
<div class="row">
  <%= form_for @exam do |f| %>
    <h3> Choose subject: </h3>

    <%= select_tag :subject_id, options_for_select(@subjects, selected: params[:subject_id]), class: "form-control" %>   

    <h3> Choose level </h3>
	<%= f.select :level, ['0', '1'] %>

    <h3> Exam's name </h3>
    <%= f.text_field :name, class: 'form-control' %>
  
    <h3><%= f.submit t :start_exam, class: "btn btn-primary" %></h3>   
  <% end %>
</div>
